<footer class="page-footer  orange darken-3">

  <div class="footer-copyright">
    <div class="container center">
    Copyright © <a class="black-text text-lighten"  href="/">Sua Loja</a>
    </div>
  </div>

</footer>
