<%= render 'page/user_navbar' %>

<p></p>
<footer class="page-footer ">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="card-panel light-blue lighten-1 center flow-text">Sobre Nossa Loja</h5>
            <p class="card-panel light-blue lighten-1 center">Sua Loja é uma startup que visa facilitar a divulgação de produtos e serviços das empresas, proporcionando uma plataforma pronta para você. Por meio dela que você poderá divulgar seus negócio, incluir produtos, administrar estoques, preços e promoções, , cada loja virtual conterá outras propagandas atreladas à página que não concorrem entre si. O propósito desta abordagem é criar um esquema de divulgação que facilite a integração entre empresas e o acesso dos clientes aos produtos e serviços disponibilizados.</p>
          </div>
            <div class="col l6 s12">
          <h5 class=" card-panel light-blue lighten-1 center flow-text ">Solução proposta</h5>
          <p class="card-panel light-blue lighten-1 center" >Sua Loja é uma startup que visa facilitar a divulgação de produtos e serviços das empresas, proporcionando uma plataforma pronta para você. Por meio dela que você poderá divulgar seus negócio, incluir produtos, administrar estoques, preços e promoções, , cada loja virtual conterá outras propagandas atreladas à página que não concorrem entre si. O propósito desta abordagem é criar um esquema de divulgação que facilite a integração entre empresas e o acesso dos clientes aos produtos e serviços disponibilizados.</p>

        </div>
        </div>

        </div>
      </div>

    </footer>

<%= render 'page/user_footer' %>
